    <!----------------footer----------------->
    <footer>
        <div class="container">
            <ul class="social-section">
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://wsend.co/201005729533" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.facebook.com/ana.mera.94651?mibextid=LQQJ4d" target="_blank"><i
                            class="fab fa-facebook"></i></a></li>
                <li><a href="https://instagram.com/ameraalaa3?igshid=YWJhMjlhZTc=" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>

            <div class="end-footer">
                <div>
                    <ul class="uk-subnav uk-text-muted uk-flex-center">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms of use</a></li>
                    </ul>
                </div>
                <div>
                    <p class="uk-text-muted">© 2024 Pablo, Designed by Pablo López Lozano.</p>
                </div>
            </div>
        </div>
    </footer>