<app-cabecera></app-cabecera>


<div class="img-zigzag">
    <img src="../../assets/images/Untitled.png" alt="break">
</div>

<section class="content">
    <div class="content">
        <h1>Monedas</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Simbolo</th>
                    <th>Ranking</th>
                    <th>Precio</th>
                    <th>Market Cap</th>
                    <th>24h Volumen</th>
                    <th>Circulante</th>
                    <th>Porcentaje 1h</th>
                    <th>Porcentaje 24h</th>
                    <th>Porcentaje 7d</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let moneda of monedas">
                    <td><img [src]="moneda.image.thumb" alt=""></td>
                    <td>{{moneda.name}}</td>
                    <td>{{moneda.symbol}}</td>
                    <td>{{moneda.cmc_rank}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</section>
<app-footer></app-footer>
