<app-cabecera></app-cabecera>

<section class="about" id="about">
    <div class="content" *ngIf="cargando">
        Cargando...
    </div>
    <div class="content" *ngIf="!cargando">
        <div class="header-center">
            <h2 class="text-header">{{ cryptoDetalle.name }}</h2>
            <p *ngIf="yaGuardadaError">{{ yaGuardadaError }}</p>
            <p *ngIf="guardada">{{ guardada }}</p>
        </div>
        <div class="side-1">
            <div class="image-section">
                <div class="image-section-detalle">
                    <img [src]="cryptoDetalle.image.large">


                </div>
            </div>
            <div class="text-section">
                <div class="uk-panel">
                    <a class="button" (click)="guardarCrypto()">Seguir Crypto</a>
                    <h3>{{ cryptoDetalle.market_data.current_price.eur }} €</h3>
                    <h4>Descripción</h4>
                    <p class="pequeño">{{ cryptoDetalle.description.es }}</p>


                </div>

            </div>
        </div>
    </div>
</section>
<script>
    window.onload = function () {
        
    }
</script>
<div id="chartContainer" style="height: 300px; width: 100%; z-index: 5;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

<app-footer></app-footer>
