<app-cabecera></app-cabecera>

<section class="about" id="about">
    <div class="content" *ngIf="cargando">
        Cargando...
    </div>
    <div class="content" *ngIf="!cargando">
        <div class="header-center">
            <h2 class="text-header">{{ cryptoDetalle.name }}</h2>
            <p *ngIf="yaGuardadaError" class="errores">{{ yaGuardadaError }}</p>
            <p *ngIf="guardada" class="exito">{{ guardada }}</p>
        </div>
        <div class="side-1">
            <div class="image-section">
                <div class="image-section-detalle">
                    <img [src]="cryptoDetalle.image.large">


                </div>
            </div>
            <div class="text-section">
                <div class="uk-panel">
                    <a class="button" (click)="guardarCrypto()">Seguir Crypto</a>
                    <h4> Precio: {{ cryptoDetalle.market_data.current_price.eur }} €</h4>
                    <p>Símbolo: {{ cryptoDetalle.symbol }}</p>
                    <p>Ranking: {{ cryptoDetalle.market_cap_rank }}</p>
                    <p>Fecha de salida: {{ cryptoDetalle.genesis_date }}</p>
                    <h4>Descripción</h4>
                    <p class="pequeño" *ngIf="cryptoDetalle.description.es" >{{ cryptoDetalle.description.es }}</p>
                    <p class="pequeño" *ngIf="!cryptoDetalle.description.es" >{{ cryptoDetalle.description.en }}</p>
                    <p class="pequeño" *ngIf="!cryptoDetalle.description.en" >Descripción no disponible</p>
                    <h4>Links</h4>
                    <p><a [attr.href]="cryptoDetalle.links.homepage[0]" target="_blank">{{ cryptoDetalle.links.homepage[0] }}</a></p>
                    <p ><a [attr.href]="cryptoDetalle.links.repos_url.github[0]" target="_blank">{{ cryptoDetalle.links.repos_url.github[0] }}</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<app-footer></app-footer>
