<app-cabecera></app-cabecera>  
  <!----------Collection------------>
  <section class="Collection" id="Collection">
    <div class="background"></div>
    <div class="content">
        <div class="text">
            <h1>Investiga tus cryptos favoritas</h1>
            <a routerLink="/search" class="button">Comenzar</a>
        </div>
    </div>
</section>

<!----------break------------>
<div class="img-zigzag">
    <img src="../../assets/images/Untitled.png" alt="break">
</div>
<!----------choose us------------>

<section class="choose-us">
    <div class="container">
        <div class="header-center">
            <h2 class="text-header">Las cryptos más buscadas</h2>
        </div>
        <div class="cols">
            <div class="card" *ngFor="let coin of ajax.masBuscadas">
                <span (click)="mostrarDetalle(coin.item.id)"><a>{{ coin.item.name }}</a></span>
                <div class="card-margin-top">
                    <h3>Precio: {{ coin.item.data.price }} $</h3>
                    <img [src]="coin.item.large">
                    <img [src]="coin.item.data.sparkline">
                </div>
            </div>
        </div>
    </div>
</section>
<!----------break------------>
<div class="img-zigzag">
    <img src="../../assets/images/Untitled.png" alt="break">
</div>
<!-- ---------about-------------->
<section class="about" id="about">
    <div class="content">
        <div class="header-center">
            <h2 class="text-header">
                Sobre la plataforma
            </h2>
        </div>

        <div class="side-2">
            <div class="text-section">
                <div class="uk-panel">
                    <span class="span-panel">Investiga tus cryptomonedas</span>
                    <h3>Sigue tus cryptos favoritas</h3>

                    <div class="row">
                        <div class="row">
                            <div class="uk-panel">
                                <h5>200.000 +</h5>
                                <span>Cryptos actualizadas <br>
                                    cada 5mins.</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="image-section">
                <img src="../../assets/images/features-04.png" alt="features">
            </div>

        </div>
    </div>
</section>
<!-------------break--------------->
<div class="img-zigzag">
    <img src="../../assets/images/Untitled.png" alt="break">
</div>
<!-------------team------------------>
<section class="team">
    <div class="content">
        <div class="header-center">
            <h2 class="text-header">
                Crypto Angular Crew
            </h2>
        </div>
        <div class="back-map"></div>
        <div class="team-card">
            <div class="card-s4">
                <div class="image-card">
                    <img class="radius-circle" src="../../assets/images/02.png" alt="Steph Jobs">
                </div>
                <div class="text-card">
                    <h3>Steph Jobs</h3>
                    <span>Inversor</span>
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-s4 card-center-up">
                <div class="image-card">
                    <img class="radius-circle" src="../../assets/images/03.png" alt="Andry Moray">
                </div>
                <div class="text-card">
                    <h3>Andry Moray</h3>
                    <span>Inversor</span>
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-s4">
                <div class="image-card">
                    <img class="radius-circle" src="../../assets/images/01.png" alt="SZaid Ed">
                </div>
                <div class="text-card">
                    <h3>Zaid Ed</h3>
                    <span>Inversor</span>
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-s4">
                <div class="image-card">
                    <img class="radius-circle" src="../../assets/images/04.png" alt="Laila Ed">
                </div>
                <div class="text-card">
                    <h3>Laila Ed</h3>
                    <span>Inversor</span>
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-s4 card-center-up">
                <div class="image-card">
                    <img class="radius-circle" src="../../assets/images/05.png" alt="John Clark">
                </div>
                <div class="text-card">
                    <h3>John Clark</h3>
                    <span>Inversor</span>
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-s4">
                <div class="image-card">
                    <img class="radius-circle" src="../../assets/images/06.png" alt="Harry Nikon">
                </div>
                <div class="text-card">
                    <h3>Harry Nikon</h3>
                    <span>Inversor</span>
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------break--------------->
<div class="img-zigzag">
    <img src="../../assets/images/Untitled.png" alt="break">
</div>
<!----------counter------------>
<section class="counter-section">
    <div class="content">
        <div class="image-background"><img class="image-background left-bottom" src="../../assets/images/bitcoin2.png"
                alt="background bitcoin"></div>
        <div class="image-background"><img class="image-background top-right" src="../../assets/images/ethereum.png"></div>
        <div class="row">
            <div class="row-icon">
                <img src="../../assets/images/layer.png" alt="Collections">
            </div>
            <div class="number"><span>200.000+</span></div>
            <h6>Cryptos</h6>
        </div>
        <div class="row">
            <div class="row-icon">
                <img src="../../assets/images/profile2.png">
            </div>
            <div class="number"><span>12400+</span></div>
            <h6>Inversores</h6>
        </div>

        <div class="row">
            <div class="row-icon">
                <i><img src="../../assets/images/aircraft.png"></i>
            </div>
            <div class="number"><span>2.5x</span></div>
            <h6>Ganancias estimadas</h6>
        </div>
    </div>
</section>
<!-------------break--------------->
<div class="img-zigzag">
    <img src="../../assets/images/Untitled.png">
</div>

<!---------------FAQ---------------->
<section class="FAQ" id="FAQ">
    <div class="content">
        <div class="header-center">
            <h2 class="text-header">
                FAQ
            </h2>
        </div>
        <div class="question-list">
            <details>
                <summary>¿Qué es Crypto Angular?</summary>
                <div>
                    <p>
                        Es una comunidad de inversores que buscan invertir en cryptomonedas.
                    </p>
                    <p>
                        <br>En esta plataforma se realiza el seguimiento de las cryptomonedas más importantes del mercado.
                    </p>
                </div>
            </details>
            <details>
                <summary>¿Cómo puedo seguir las crypto?</summary>
                <div>
                    <p>
                        Para seguir cryptomonedas, primero debes registrarte en la plataforma.
                    </p>
                    <p>
                        <br>Una vez registrado, puedes buscar la cryptomoneda que deseas seguir y darle click en el botón "Seguir Crypto".
                    </p>
                </div>
            </details>
            <details>
                <summary>¿Por qué debo elegir Crypto Angular?</summary>
                <div>
                    <p>
                        Crypto Angular es una plataforma que te permite realizar el seguimiento de tus cryptomonedas favoritas.
                    </p>
                </div>
            </details>
        </div>
    </div>
</section>

<app-footer></app-footer>